<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    footer{
        background-color: #222;
        border-color: #080808;

    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Blood Bank</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container py-5 h-100">
      <div class="card-body p-5 text-center">
        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
        <p class="text-white-50 mb-5">Please enter your login and password!</p>
        <div class="form-outline form-white mb-4">
          <input type="email" id="typeEmailX" class="form-control form-control-lg" />
          <label class="form-label" for="typeEmailX">Email</label>
        </div>
        <div class="form-outline form-white mb-4">
          <input type="password" id="typePasswordX" class="form-control form-control-lg" />
          <label class="form-label" for="typePasswordX">Password</label>
        </div>
        <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        <div>
          <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p>
          <p class="mb-0">Clinic Admin? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p>
        </div>
      </div>
    </div>
  
<footer class="container-fluid text-center fixed-bottom">
  <p class="text-white bg-dark">Thanks</p>
</footer>

</body>
</html>
