{% extends 'main/base.html' %}
{% load bootstrap4%}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-5">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
          <a href="{% url 'main:register_user_view' %}">Don't have an account.</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


